/*MISE EN FORME GENERALE*/
html {
	font-size: 16px;
}

body {
	display: flex;
	margin: 0;
}
/*MISE EN FORME <ASIDE>*/
aside {
  position: relative;
	flex-basis: 20%;
	min-height: 100vh;
  background-color: rgb(243, 176, 120);
}
h2{
  text-align: center;
  background-color: bisque;

}
IMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 6px 0px beige
}

aside>footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
}

.loisirs{
  display: flex;
  justify-content: space-around;
}
/*MISE EN FORME <MAIN>*/
.prénom{
  color: rgb(243, 176, 120);
 }
p{
  margin: 1em;
  text-align: justify;
}
main {
   min-height: 100vh;
  margin: 4em;
}
h3{
  border-bottom: solid 3px black;
}
.conteneur{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
   align-content: space-around;
}
.activités{
  flex: 1 1 50px;
  width: 40%;
  margin: 10px;
}
.fas{
  float:left;
  vertical-align:top;
}
