/*MISE EN FORME GENERALE*/
html {
  font-size: 16px;
}

body {
  display:flex;
  margin: 0;
}

/*MISE EN FORME <Class DIV:Informations personnelles>*/
.informations-personnelles {
  flex-basis: 20%;
	min-height: 100vh;
  background-color: rgb(192,32,128);
}

.contact, .a_propos_de_moi {
  padding: 10px;
}

.site{
  color:black;
}
h3{
  text-align: center;
  background-color: rgb(192,160,192);
  margin-bottom: 15px;
  font-size: 150%;
  color:rgb(192,32,128);
  margin-top: 30%;
}

img {
  display: block;
  width:auto;
  height: 150px;
  border-radius: 50%;
  margin-top:10%;
  margin-left: 30%;
  border:3px solid rgb(192,160,192);
}

.informations-personnelles>footer{
  margin-top:130%;
}

.hobbies {
  display: flex;
  justify-content: space-around;
  padding:10px;

}

.icone-gauche{
  display:flex;
  color:rgb(192,160,192);
  border-radius: 50%;
  border:2px solid rgb(192,160,192);
  padding:10px;
}

/*MISE EN FORME <MAIN>*/

/* MISE EN FORME HEADER*/

h1{
  color:rgb(192,32,128);
  margin-bottom: 30px;
}

 span{
  text-decoration: underline;
  font-weight: bold;
}
/*Mise en forme des sections*/
main{
  min-height: 100vh;
  margin:3em;
}
 main>header{
   margin-top: 10%;
 }

.conteneur{
  margin-top: 15%;
}
.wrapper{
  display: grid;
  grid-template-columns: 30% 70%;
}

.icone-droite{
  float: left;
  vertical-align:top; 
  color:rgb(192,32,128) ;
  margin-right: 10px;
  font-size: 140%;
}

.date{
  font-weight: bold;
}

p{
  margin: 1em 0;
  justify-content: left;
}

h2{
  border-bottom: solid 3px  rgb(192,32,128);
  margin-bottom: 5%;
  margin-top:10%;
}

/* Média queries: si la fenêtre maximum est de 900px*/
@media all and (max-width: 900px)
{
  
  body{
    flex-direction: column;
    width: auto;
    margin: auto;
    height: auto;
  }
  main{
    margin:1em;
  }
  h1{
    font-size: 1.2em;
  }
}

